$primary: #399e63;
@import './plugin/styles/theme.scss';

/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: $primary;
$--font-size-base: 12px;
$--button-padding-vertical: 9px;
/// padding||Spacing|3
$--button-padding-horizontal: 15px;

$--input-height: 35px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

